* {
    margin:0;
    padding:0;
    list-style: none;
}

.container {
    margin: 0 auto;
    display: grid;
    height:1070px;
    grid-template-rows: 89px 1fr 80px;
}

.con {
    width:1200px;
    margin:0 auto;
}

header {
    border-bottom:1px solid #ddd;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color:#452d77;
    font-size: 15px;
}

.logo span{
    font-weight: 500;
}

nav {
    width:400px;
    height:100%;
}

nav > ul > li {
    cursor: pointer;
    font-weight: 800;
}

nav > ul > li:hover {
    border-bottom: 1px solid rgb(71, 71, 121);
    color:rgb(71, 71, 121);
}

#visual > video {
    width:100%;
    filter: brightness(48%);
}

#content  {
    width:100%;
    overflow: hidden;
    position: relative;
}

#content > .menu-page {
    transform:translateX(100%);
    transition: transform 0.5s;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

#content > .menu-page.active {
    transform: translateX(0);
    z-index: 10;
}

#content > .menu-page.out {
    transform: translateX(-100%);
}

.logo-group {
    color:#fff;
    position: absolute;
    top:300px;
    left:350px;
    flex-direction: column;
}

.logo-group .t1 {
    font-size: 23px;
    font-weight: 300;
    z-index: 10;
    margin-top:20px;
}

.logo-group h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.txt {
    position: absolute;
    background: #3f2672;
    height: 16px;
    width: 240px;
    left: 50%;
    z-index: -1;
    margin-left: -120px;
    top:108px;
   
}

#fundMain {
    position: relative;
    left:240px;
    top:100px;
    width:300px;
        document.querySelector(".next").addEventListener("click",this.clickbefore);
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4,1fr);
}

.fundTwo {
    position: relative;
    width:190px;
    height:190px;
   box-shadow: rgba(0,0,0,2);
    background-color:rgba(255, 255, 255, 0.2);
}

.back  {
    background-image: url(images/subtop.png);
    height:70vh;
    width:100%;
}

.fundTwo  .text {
    position: absolute;
    line-height: 1.8;
    top:30px;
    left:10px;
}

.fundTwo h3 {
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:190px;
}
.fundTwo h3:nth-child(1) {
    font-size: 13px;
}

.fundTwo h3:nth-child(2) {
    font-size: 15px;

}


.fundTwo h3:nth-child(3) {
    font-size: 25px;
}

.fundTwo h3:nth-child(4) {
    font-size: 13px;
}

.fundTwo h3:nth-child(5) {
    font-size: 13px;
}




/* ----- 펀드등록페이지 -----*/
.fundForm {
    background-color: #f2f2f2;
    height:100%;
}

.fundForm .con {
    position: relative;
    top:90px;
    flex-direction: column;
}

#content > div.menu-page.back.active > img {
    width:100%;
}

.form {
    border: 1px solid #DFDFDF;
    background-color: #fff;
    width:400px;
    height:500px;
    flex-direction: column;
    position: relative;
}
/* i.now<inv.now */

.can {
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    font-size: 14px;
    color: #224260;
    position: absolute;
    top:0;
    width:100%;
    border-bottom: 1px solid #DEDEDF;
    background: #F9F9F9;
}

.form-group {
    flex-direction: column;
} 


.form input {
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border:1px solid #DFDFDF;
    width: 280px;
    margin: 5px auto;
}

.form button {
    font-size: 14px;
    background: #2d374f;
    border: 1px solid #2d374f;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    color: #fff;
    width:50%;
    padding: 9px 7px;
    margin-top: 25px;
    cursor: pointer;
    position: absolute;
    left:100px;
    bottom:60px;
}

/* ------ 펀드보기페이지 -----*/

#content > div.menu-page.back.active > div.con > div {
    width:1173px;
}


.fund-list .con {
    width:750px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    grid-auto-rows: 220px;
    position: relative;
    top:50px;
 
}

#fund {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    grid-auto-rows: 300px;
}

.fund {
    width:230px;
    border:1px solid #ddd;
    position: relative;
}

.fund canvas {
    position: absolute;
    bottom:0;
}

.inv-item span:nth-child(4) {
    width:38px;
}


.inv-item span:nth-child(5) {
    width:187px;
}

.inv canvas {
    border-radius: 10px;
}

.res {
    position: absolute;
    bottom: 15px;
    right: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: 
;
}

.inv-list span {
    width:120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.inv-list span:nth-child(2) {
    width: 230px;
}


.inv-list span:nth-child(3) {
    width:100px;
}

.inv-list span:nth-child(4) {
    width:100px;
}


.da {
    border-bottom:1px solid #e88925;
    padding:6px;
    font-size: 13px;
    text-align: right;
}

.text{
    position: absolute;
    top:40px;
    left:5px;
}

.text4 {
    color:#888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text1 {
    width:230px;
    display: inline-block;
    color:#333;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* #ecaa66 */
.text2 {
    width:230px;
    font-size: 30px;
    color:#e88925;
    font-weight: bold;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height:40px;
}

.text3 {
    font-size: 14px;
}

.btn {
    position: absolute;
    padding:5px;
    bottom:15px;
    left:5px;
    border:1px solid #ddd;
    background-color: #fff;
}

.fund h4 {
    position: absolute;
    padding:5px;
    bottom:15px;
}

.fund-list .fund .info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 투자자목록페이지 */



.four {
    background-image: url(images/subtop.png);
    height:70vh;
    width:100%;
}

.inv-item {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top:130px;
    height:30px;
    padding:10px;
}

.inv {
    padding:20px;
    border:1px solid #ddd;
    display:flex;
    justify-content: space-between;
}


.inv button {
    border:none;
    color:#fff;
    background-color: #2d374f;
    padding:5px 10px;
    border-radius: 0.25rem;
}

.conten {
    height:625px;
    overflow: hidden;
    width:100%;
    position: relative;
}

.conten .inv-con {
    transform:translateX(100%);
    transition: transform 0.5s;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}

.conten .inv-con.active {
    transform: translateX(0);
}

.conten .inv-con.out {
    transform: translateX(-100%);
}

.Btn {
    border:1px solid #ddd;
    background-color: #fff;
    width:50px;
    height:50px;
    margin:5px;
}

/* 팝업css */

#popup {
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    display: none;
}

#popup.active {
    display: flex;
}

#popup > .inner {
    background-color: #fff;
    border-radius: 10px;
    padding:20px;
    width:250px;
    height:300px;
}

#popup input {
    border:none;
    width:190px;
    border-bottom: 1px solid #ddd;
    padding:5px;
}

#popup .button-group{
    width:80%;
    margin:10px;
}

#popup button {
    border:1px solid #ddd;
    background-color: #fff;
    padding:5px;
    width:48%;
}

#popup > .inner canvas {
    margin-top:5px;
    border:1px solid #ddd;
}

footer {
    background-color: #2d374f;
    filter: brightness(50%);
    color:#ddd;
    text-align: center;
    padding:10px;
    font-size: 13px;
    line-height: 1.5;
}

.inv-con {
    position: relative;
    top:50px;
    height:415px;
}


